$content-width: 1200px;
$content-x-padding: 15px;
//font-family------------------------ 
$main-font: 'Open Sans',
sans-serif;
$additional-font: 'Lato',
sans-serif;
$third-font: 'Gotham',
sans-serif;
//font-size-------------------------
$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-xl: 22px;
$font-size-xxl: 30px;
//breakpoint------------------------ 
$breakpoint_xxl: 1210px;
$breakpoint_xl: 1024px;
$breakpoint_lg: 768px;
$breakpoint_md: 420px;
$breakpoint_sm: 375px;
$breakpoint_xs: 320px;
//color---------------
$main-color:#ffbb42;
$color-white:#ffffff;
$color-dark-blue:#394b50;
$color-gray:#7b7b7b;
$input-color:#a9a9a9;
$color-bg:#ffc155;
$color-silver:#818b95;
$color-bright-gray:#e7edf3;
$color-orange:#f6772c;
$color-light-gray:#99a9ae;
$color-input-bg:#cbcbcb;
$color-bg-blue:#709dca;
$color-header-a: #868686;
$about-text-a:#e7ad48;
$about-text-a-hover:#f1632ba3;
$about-media:#985718a1;
$content-button:#e3e7ec;
$newsletter-adress:#aeb7ba;
//--------------------------------- 
$margin_small: 5px;
$border-radius_banner:3px;